main {
        width: 100%;
        text-align: center;
    }
.row {
    width: 100%;

}
.column.one-half {

        box-sizing: border-box;
        float: left;
        border: 1px solid;
        margin-bottom: 5%;
        background-color: deepskyblue;
        width: 50%;
        padding: 10px;


}

.column.one-third {
        width: 33.33%;
        padding: 10px;
        box-sizing: border-box;
        float: left;
        border: 1px solid;
        margin-bottom: 5%;
        background-color: purple;

}

.column.one-fourth {
        width: 25%;
        padding: 10px;
        float: left;
        border: 1px solid;
        box-sizing: border-box;
        background-color: blue;
        margin-bottom: 5%;


}

.column.one-sixth {
        width: 16.66667%;
        padding: 10px;
        margin-bottom: 5%;
        float: left;
        border: 1px solid;
        box-sizing: border-box;
        background-color: green;

}

.column.one-eight {
        width: 12.5%;
        padding: 10px;
        float: left;
        border: 1px solid;
        box-sizing: border-box;
        background-color: red;
        margin-bottom: 5%;
    }
@media screen and (min-width:768px) {

    body{
    background-color: deepskyblue;
    }
}



/*
Add the necessary CSS so that your columns take up the full width on small screens.
Add borders and background colors to your column classes so that you can see the difference between each class.
Have at least one row that includes three different column classes
You should wind up with a page that looks similar to the following:
*/