/*this is mobile*/
h1 {

    width: 100%;
    text-align: center;

}


li{

    text-align: center;
    background-color: silver;
    margin-top: 2%;
    /*padding: 0;*/
    height: 70px;





}
a{
    font-size: 2em;
}

div{
    width: 100%;
    align-content: center;

}
ul.nav-links{
    width: 100%;
    padding: 0;
    height: 400px;

}

.nav-links{
    list-style-type: none;


}



.alert-info{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #0077e5;


}

img{
    width: 100%;
    margin: 0;
    padding: 0;

}
#social-media-links {
    height: auto;
    width: 100%;
    max-height: 60px;
    max-width: 60px;
    display: inline-flex;
    float: left;



}

/*this is desktop*/
/*This desktop */
@media screen and (min-width:769px) {
    body {
        background-color: cornsilk;
        padding: 0;
    }
    a{
        width: 0;
    }
    h1 {
        /*float: left;*/
        text-align: left;
        position: relative;
        top: 0;
        left: 0;
        font-size: 3em;

        width: 33.3333%;
    }
    ul.nav-links{
        position: absolute;
        top: 0;
        left: -4%;
        text-align: right;
        letter-spacing: 8px;
    }
    p{
        clear: both;
    }

    li{
        background: transparent;
        display: inline-block;




    }
    .hidden-on-desktop {
          visibility: hidden;
          float: right;
      }
    .alert-info{
        width: 33.33%;
        clear: both;
    }
    .main{
        float: left;
        width: 33.3333%;
    }
    .sub-section{
        float: right;
        width: 66.6667%;
    }
}

