/*this is mobile*/
h1 {

    width: 100%;
    text-align: center;

}


li{

    text-align: center;
    background-color: silver;
    margin-top: 2%;
    /*padding: 0;*/
    height: 70px;





}
ul{
    padding: 0;
}
a{
    font-size: 2em;
}

div{
    width: 100%;
    align-content: center;

}
/*ul.nav-links{*/
    /*width: 100%;*/
    /*padding: 0;*/
    /*height: 400px;*/

/*}*/

.nav-links{
    list-style-type: none;


}



.alert-info{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #0077e5;


}

img{
    width: 100%;
    margin: 0;
    padding: 0;

}
#social-media-links {
    height: auto;
    width: 100%;
    max-height: 10em;
    max-width: 10em;
    display: inline-flex;
    float: right;



}

/*this is desktop*/
/*This desktop */
@media screen and (min-width:769px) {
    body {
        background-color: cornsilk;
        padding: 0;
    }
    h1 {
        /*float: left;*/
        text-align: left;
        position: relative;
        top: 0;
        left: 0;
        font-size: 3em;

        width: 33.3333%;
    }
    ul.nav-links{
        margin-right: 2em;
    }
    p{
        clear: both;
    }

    li{
        background: transparent;
        display: inline-block;
        padding: 1.5%;




    }
    .container{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        text-align: right;

    }
    .hidden-on-desktop {
          visibility: hidden;
          float: right;
      }
    .alert-info{
        width: 33.33%;
        clear: both;
    }
    .main{
        float: left;
        width: 33.3333%;
    }
    .sub-section{
        float: right;
        width: 66.6667%;
    }
    #social-media-links {
        max-height: 10em;
        max-width: 10em;
        display: inline-flex;
        float: right;
    }

}

