

/*this is mobile*/
h1{
    width: 100%;
    padding: 10px 10px;
    margin: 10px 10px;
    text-align: center;

}
.nav-links{
    list-style-type: none;
    display: inline;
    white-space: pre-line;

}
.nav-links>li{
    text-align: center;
    padding: 4%;
    background-color: silver;

}
.hidden-on-desktop{
    display: block;
    text-align: center;
    background-color: #0077e5;
    padding: 4%;

}
div>.header-img{
    width: 100%;
    align-content: center;
}
img{
    width: 100%;
}
#social-media-links {
    width: 10%;
    float: right;
    display: inline-block;
    text-align: right;


}

/*this is desktop*/
/*This desktop */
@media screen and (min-width:500px){

    body{
        background-color: cornsilk;
    }
    h1{
        width: 4%;
        height: 4%;
        font-size: 3em;
        text-align: left;
        position: relative;
        top: 0;
        left: 0;


    }
    .hidden-on-desktop{
        visibility: hidden;
    }
    .nav-links{
       display: flex;
       font-size: 1em;
       position: fixed;
        top: 0;
        right: 0;


    }
    .nav-links>li{
        background-color: transparent;

    }

}
li{
    margin: 2em;
    padding: 2em;
}