@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
body{
    background-color: whitesmoke;


}
div {
    width: 100%;
    height: 100%;
    /*display: block;*/
    position: relative;



}
div::after {
    content: "";
    background: url("https://image.freepik.com/free-vector/modern-technological-elements-with-transparent-background_1035-7108.jpg");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/*}*/

/*pseudos are specific*/

h5{
    color: deepskyblue;
    text-decoration: underline;
    /*display: inline;*/
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    font-family: 'Rammetto One', cursive;






}
h1{
    text-align: center;
    text-decoration-color: purple;
}

ul{
    /*list-style-type: circle;*/
    /*!*display: inline;*!*/
    /*font-family: Helvetica;*/
    /*list-style-type: none;*/
}
ol{
    /*list-style-type: circle;*/
    /*!*display: inline;*!*/
    /*font-family: Georgia;*/
    /*list-style-type: none;*/


}

table{
    /*color: blue;*/
    alignment: center;
    margin: auto;
    /*width: 40%;*/
    height: 50em;

}
th{
    text-decoration: underline;
    font-size: 300%;
    font-family: 'Rammetto One', cursive;


}
td{
    color: #0077e5;
    text-align: center;
    text-indent: 10%;
    margin: auto;
    font-size: 300%;
}

p{
    text-align: center;

    text-decoration: underline;

}

/*Class selectors use "." periods. Classes can be combined*/

#only{
    color: darkblue;
    text-align: center;
    font-size: 300%;
    align-content: center;


}

#fancy-header{
    font-family: Helvetica serif;
    color: black;
    text-align: center;
    padding-top: 40px;

}
.mission:visited{
    color: red;
}

.value {

    text-align: center;
    padding: 0px;
    font-size: 20px;
}
.solo{
    width: 284px;
    height: 140px;

}

.picture{
    width: 50%;
    height: 10%;
    margin-left: 25%;


}
p:hover{
    color: red;
}
/*unvisited link*/



/*ID's use "#" numbers */
/*use pseudo classes */

/*
pseudo classes are very specific
1.link
2.visited
3.hover
4.active
/*